<div class="row">
    <div class="m-4 col container text-center">
        <div class="m-4 card" style="width: 18rem;" *ngFor="let pastry of pastries">
            <h3 class="card-title">{{ pastry.ref }}</h3>
            <img src="{{ pastry.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ pastry.name }}</h5>
                <p class="card-text">{{ pastry.description | slice:0:180 }}(...)</p>
                <div class="badge rounded-pill" *ngFor="let tag of pastry.tags; index as i" [ngClass]="styles[i]">
                    <span>{{tag}}</span>
                </div>
                <p class="card-text">Stock: {{ pastry.quantity }}</p>
                <button type="button" (click)="selectPastry(pastry)" class="btn btn-warning">Détail</button>
            </div>
        </div>
    </div>

    <div class="m-4 col container text-center">
        <app-pastry-detail [pastry]="selectedPastry"></app-pastry-detail>
    </div>

</div>